:root {
  --color-primary: #ba82dd;
  --color-secondary: rgba(156, 122, 241, .5);
  --color-white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--color-secondary);
}
