.carousel__slider--custom {
  color: pink;
  width: 30rem;
  height: 20rem;
  margin-top: 10rem;
  box-shadow: 0 1rem 4rem rgba(0,0,0,.25);

  @include responsive(desktop) {
    width: 40rem;
    height: 30rem;
  }


  @include responsive(tablet-landscape) {
    width: 35rem;
    margin-top: 0;
  }

  @include responsive(phone) {
    width: 30rem;
  }

  &-1 {
    background-color: var(--color-white);

  }

  &-2 {
    background-color: var(--color-white);
  }
}
